html {
    position: relative;
    min-height: 100%;
}

body {
    min-width: 940px;
}

body {
    padding-bottom: 20px;
    padding-top: 40px;
}

.container {
    padding-bottom: 80px;
}

/* navbar */


/*.navbar-inner {
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'f2f2f2, GradientType=0);
}
*/
.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #565454;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 30px 11px;
  font-size: 14px;
  color: #5e5555;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}

li.dropdown{
    font-size: 13px;
}

input.form-control, button.btn{
    font-size: 13px;
    text-align: center;
}
/*------------*/


div.input {
    display: inline;
    margin: 0 3px 0 0;
}

div.confirm{
    float: left;
}

div.gnum {
    padding-top: 20px;
    padding-left: 70px;
}

img.gimage {
    padding-top: 10px;
}

ul.unstyled {
    margin: 0;
}

.table th {
    vertical-align: middle;
    text-align: center;
}

td.seq {
    font-family: "Courier";
    font-size: 14px;
}

pre {
    background-color: rgba(256, 256, 256, 0);
    border: none;
    font-family: "Courier";
    font-size: 14px;
}

table {
    margin-top: 15px;
}

a.img-help {
    font-size: 19px;
}

img.logo {
    margin: 0 10px;
}

a.logo:hover {
    border: none;
    text-decoration: none;
}

table td a {
    display: inline-block;
}

footer {
    border-top: 1px solid #ddd;
}

html {
  position: relative;
  min-height: 100%;
}
  /* Set the fixed height of the footer here */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #f5f5f5;
  overflow: hidden;
  line-height: 1em;
}
/*position of copyright and social icon START*/
#footer ul{
    margin-left: 47%;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
}
#footer ul li{
    float: left;
    margin-left: 30px;
    list-style: none;
    width:32px;
    height: 32px;
}
#footer a.facebook, a.twitter, a.googleplus{
    display: block;
    position: relative;
    text-decoration: none;
    width: 32px;
    height: 32px;
}
#footer a.facebook:hover {
    background-image:url('/app/webroot/img/facebook-hover.png');
    background-position: left bottom;
    text-indent: -9999px;
}
#footer a.twitter:hover {
    background-image:url('/app/webroot/img/twitter-hover.png');
    background-position: left bottom;
    text-indent: -9999px;
}
#footer a.googleplus:hover {
    background-image:url('/app/webroot/img/googleplus-hover.png');
    background-position: left bottom;
    text-indent: -9999px;
}
#footer small{
    display: block;
    margin-left: 10px;
    margin-top: 2em;
}
#footer span{
    display: block;
    margin-top: -1.3em;
    margin-left: 50%;
    font-size: 11px;
}
#contents{
    height: 100%;
    margin-bottom: 60px;
}
#contact{
    clear: both;
    position: absolute;
    margin-top: -1.2em;
    margin-left: 91%;
    font-size: 14px;
    width: 100%;
}
#contact img{
    margin-right: 5px;
}
/*position of copyright and social icon END*/

/*Layout of Stanzas(Home) START*/
.image-glytoucan {
    margin-top: 25px;
    margin-left: 80px;
    margin-bottom: 30px;
}
.twitter-timeline {
    margin-left: 80px;
}
/*Layout of Stanzas(Home) END*/



/* top renew CSS */

.globalNav {
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    color: #787878;
    background: #F2F1EF;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    overflow: visible;
    z-index: 2000;
}

@media (max-width: 939px) {
    .globalNav {
        position: absolute;
        width: 940px;
    }
}

.globalNav_inner {
    position: relative;
    width: 940px;
    height: 45px;
    margin: 0 auto;
}

.globalNav_logo {
    display: block;
    height: 100%;
    float: left;
    text-decoration: none;
}

.globalNav_logo:after {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.globalNav_logo:hover > .globalNav_toucan {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    text-decoration: none;
}
/*Change height38px, width67px*/
.globalNav_toucan {
    height: 30px;
    width: 60px;
    vertical-align: middle;
}

.globalNav_logoText {
    display: none;
    position: absolute;
    height: 40px;
    top: 2px;
    left: 68px;
    z-index: 200;
}

.globalNav_logo:hover > .globalNav_logoText {
    display: block;
}

.globalNav_logoText > img {
    display: block;
    height: 40px;
    width: 90px;
}

.globalNav_logo:hover, .globalNav_logo:focus {
    text-decoration: none;
}
/*Changed width from 70%*/
.globalNav_ul {
    display: table;
    width: 76%;
    height: 45px;
    float: left;
    table-layout: fixed;
    overflow: visible;
    margin: 0 0 0 10px;
}
/*.globalNav_ul {
    border-left: solid 1px #ccc;
    border-right: solid 1px #eee;}*/

.globalNavItem {
    display: table-cell;
    height: 45px;
    list-style: none;
}
/*globalNavItem{}
 border-right: solid 1px #ccc;
    border-left: solid 1px #eee;}*/

/*
.globalNavItem-home {
    width: 7%;
}
*/
.globalNavItem_group {
    position: relative;
    height: 45px;
}

.globalNavItem_btn {
    display: block;
    width: 100%;
    height: 43px;
    overflow: hidden;
    vertical-align: middle;
    color: #787878;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-bottom: solid 2px #eee;
    white-space: nowrap;
}

.globalNavItem_btn:after {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.globalNavItem_btn:hover, .globalNavItem_btn:focus {
    text-decoration: none;
    color: #660098;
    background: #fbfaf8;
    border-color: #660098;
}

.globalNavItem_text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    text-shadow: 1px 1px 1px #fff;
    white-space: normal
    padding: 0 1px;
}

.globalNavItem-home > a > .globalNavItem_text {
    margin: 2px 0 0;
    height: 20px;
    overflow: hidden;
}

.globalNavItem_homeIcon {
    display: block;
    width: 20px;
    height: 40px;
    margin-top: -20px;
}

.globalNavItem-home > a:hover .globalNavItem_homeIcon {
    margin-top: 0;
}

.globalNavItem_btn-pulldown {
    position: relative;
    padding: 0 15px 0 0;
    height: 45px;
    box-sizing: border-box;
}

.globalNavItem_btn-pulldown > .globalNavItem_text {
    padding: 0 0 0 0;
}
/*Change font-size 20px*/
.globalNavItem_btn-pulldown > .globalNavItem_text:after {
    content: '\203a';
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 13px;
    vertical-align: middle;
    padding: 0 0 15px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.globalNavItem_sub {
    display: none;
    position: absolute;
    width: 170px;
    left: 0;
    top: 45px;
    margin: 0;
    padding: 0;
    background: #F2F1EF;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 12px;
    font-weight: bold;
}

.globalNavItem_sub > li {
    display: block;
    list-style: none;
    border-bottom: #ccc;
}

.globalNavItem_sub > li > a {
    color: #787878;
    display: table-cell;
    width: 150px;
    text-align: left;
    padding: 10px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    border-bottom: solid 1px #ccc;
    white-space: normal;
    line-height: 1.1;
}

.globalNavItem_sub > li > a:hover, .globalNavItem_sub > li > a:focus {
    background: #fbfaf8;
    color: #660098;
}

.globalNavSearch {
    position: relative;
    height: 100%;
    float: right;
    text-align: right;
    padding-left: 2px;
}

.globalNavSearch > form {
    display: inline-block;
}
/*Chang font-seize 14px
Change width:130px*/
.globalNavSearch > form > input {
    width: 103px;
    font-size: 11px;
    padding: 2px 5px;
    margin: 0;
    vertical-align: middle;
}

.globalNavSearch:after {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.globalNavSearch_btn {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    background: url(../img/search_btn_icon.png) no-repeat top center #ddd;
    background-size: 100% auto;
    border: none;
}

.globalNavSearch_btn:hover {
    background: url(../img/search_btn_icon.png) no-repeat top center #aa70e5;
    background: url(../img/search_btn_icon.png) no-repeat top center, -moz-linear-gradient(top,  #aa70e5 0%, #935fc6 47%, #7748a5 100%);
    background: url(../img/search_btn_icon.png) no-repeat top center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa70e5), color-stop(47%,#935fc6), color-stop(100%,#7748a5));
    background: url(../img/search_btn_icon.png) no-repeat top center, -webkit-linear-gradient(top,  #aa70e5 0%,#935fc6 47%,#7748a5 100%);
    background: url(../img/search_btn_icon.png) no-repeat top center, -o-linear-gradient(top,  #aa70e5 0%,#935fc6 47%,#7748a5 100%);
    background: url(../img/search_btn_icon.png) no-repeat top center, -ms-linear-gradient(top,  #aa70e5 0%,#935fc6 47%,#7748a5 100%);
    background: url(../img/search_btn_icon.png) no-repeat top center, linear-gradient(to bottom,  #aa70e5 0%,#935fc6 47%,#7748a5 100%);
    background-size: 100% auto;
}


/*Changed height from 340px*/
.topMainVis {
    position: relative;
    margin: 5px 0 0;
    height: 305px;
    /*background: #F5D174;*/
    background: url(../img/top_background.png) no-repeat top center;
    background-size: cover;
    overflow: hidden;
}
/*Delate background: url(../img/glytoucan_can.png) no-repeat center right;*/
.topMainVis_inner {
    position: relative;
    width: 940px;
    height: 100%;
    margin: 0 auto;
    /*background: url(../img/glytoucan_can.png) no-repeat center right;*/
    background-size: 223px auto;
    z-index: 200;
}
/*Changed height from 333px*/
.topMainVis_img {
    display: block;
    position: absolute;
    top: 0;
    left: -20;
    z-index: 100;
    width: 382px;
    height: 300px;
}
/*Changed height from 260px*/
.topMainVis_title {
    position: relative;
    padding: 0 40px 0 0;
    height: 230px;
    text-align: center;
    z-index: 200;
}

.topMainVis_title:after {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
/*Changed color from #fbfaf8,#666
Changed font-size from 70px*/
.topMainVis_title > h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: bold;
    color: #1a1a1a ;
    line-height: 55px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-shadow: -1px -1px 1px #0b2a84, 1px 1px 1px #d1fbff;
}
/*Changed font-size from 30px*/
.topMainVis_subTitle {
    font-size: 25px;
}
/*Add border-bottom
Changed height from 80px*/
.topMainVis_bottom {
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.35);
    z-index: 500;
}

.topMainVisStat {
    display: table;
    width: 940px;
    height: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    color: #fff;
}

.topMainVisStat_col {
    display: table-cell;
    width: 33.33333%;
    height: 100%;
    text-align: center;
    line-height: 1.4;
    vertical-align: middle;
    color: #fff;
}

.topMainVisStat_col:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
}

.topMainVisStat_col > p {
    margin: 0;
    text-shadow: 0 0 5px #666;
    text-align: center;
}

.topMainVisStat_label {
    font-size: 16px;
    font-weight: normal;
    text-shadow: -1px -1px 1px #85740B, 1px 1px 1px #FFF6D1
}

.topMainVisStat_value {
    font-size: 24px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #85740B, 1px 1px 1px #FFF6D1
}

.topMainVisStat_value-num {
    letter-spacing: 1px;
}



.topPageMain {
    width: 940px;
    margin: 60px auto 0;
    padding: 0 10px 80px;
    box-sizing: border-box;
}

.topPageMain_content {
    float: left;
}

.topPageColumn {
    width: 550px;
    margin: 0 0 50px;
}

.topPageColumn_title {
    font-size: 24px;
    font-weight: bold;
    padding: 2px 10px;
    margin: 0 0 10px;
    color: #666;
}
/*Changed border color:01:#40BFB0, 02:#660098, 03:#F5D174*/
.topPageColumn-01 > .topPageColumn_title {
    border-left: solid 8px #cc8de2;
}

.topPageColumn-02 > .topPageColumn_title {
    border-left: solid 8px #ae48d0;
}

.topPageColumn-03 > .topPageColumn_title {
    border-left: solid 8px #660098;
}

.topPageColumn_text {
    padding: 2px 10px 2px 20px;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    overflow: hidden;
}

.topPageColumn_text > a {
    color: #660098;
    text-decoration: underline;
}



.topPageMain_right {
    width: 240px;
    margin: 0 10px;
    float: right;
}
/*
.topNav {
    display: block;
}

.topNav_category {
    margin: 0 0 60px;
}

.topNav_label {
    font-size: 16px;
    line-height: 20px;
    border-bottom: solid 3px #40BFB0;
    color: #40BFB0;
    padding: 8px 0 2px;
    margin: 0 0 5px;
    font-weight: bold;
    background: url(../img/nav_label_bg.png) no-repeat bottom right;
    background-size: 51px 30px;
}

.topNav_items {
    display: block;
    margin: 0;
    padding: 0;
}

.topNav_items > li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNav_items > li > a {
    display: block;
    position: relative;
    margin: 10px 0;
    padding: 10px 10px 10px 20px;
    color: #787878;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    border: solid 1px #eee;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.2);
}

.topNav_items > li > a:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #40BFB0;
    top: 50%;
    left: 8px;
    margin-top: -3px;
}

.topNav_items > li > a:hover {
    background: #fff;
    color: #40BFB0;
}
*/
.topRight_twitterTimeline {
    margin-top: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 940px;
    height: 40px;
    background: #f5f5f5;
    color: #787878;
    font-size: 13px;
    overflow: hidden;
}

.footer_inner {
    display: table;
    width: 940px;
    height: 40px;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.footer_col {
    display: table-cell;
    height: 100%;
    width: 33%;
    vertical-align: middle;
}

.footer_col-left {
    padding: 0 0 0 10px;
}

.footer_col-left > p {
    margin: 0;
    padding: 2px 0 0;
}

.footer_col-center {
    text-align: center;
}

.footer_share_text {
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;
}

.footerShare {
    display: inline-block;
    vertical-align: middle;
    margin: 2px 0 0 5px;
    padding: 0;
    line-height: 1;
}

.footerShare > li {
    display: block;
    float: left;
    margin: 0 5px;
    list-style: none;
}

.footerShare > li > a {
    display: block;
    width: 26px;
    height: 26px;
    overflow: hidden;
}

.footerShare > li > a:hover > img {
    margin-top: -26px;
}

.footer_col-right {
    text-align: right;
    padding: 0 10px 0 0;
}

.footerMail {
    display: inline-block;
    text-decoration: none;
    color: #787878;
}

.footerMail:hover {
    color: #660098;
    text-decoration: none;
}

.footerMail > img {
    padding: 0 5px 2px 0;
}
